In [1320]:
import pandas as pd
import os

In [1321]:
data1 = pd.read_csv("C:/Users/DHRUVEETH'S/Desktop/reddit4/News/ruspolitics_2020_Jan-Mar.csv",sep=',')

In [1322]:
data1.head()

,id,created_utc,domain,url,title,score,selftext,num_comments,full_link
0,fs5p05,1585625971,theatlantic.com,https://www.theatlantic.com/politics/archive/2...,The Social-Distancing Culture War Has Begun,1,NaN,1,https://www.reddit.com/r/uspolitics/comments/f...
1,fs563z,1585623761,youtube.com,https://www.youtube.com/watch?v=KozT2C5NOLg,Roll the tape.... Trump- “Wasn’t me” “I didn’t...,1,NaN,0,https://www.reddit.com/r/uspolitics/comments/f...
2,fs51y0,1585623300,bloomberg.com,https://www.bloomberg.com/news/articles/2020-0...,Trump Campaign’s Threat on TV Licenses May Be ...,1,NaN,0,https://www.reddit.com/r/uspolitics/comments/f...
3,fs51pv,1585623272,i.redd.it,https://i.redd.it/wi4of8yeaxp41.jpg,The Givers and the Takers,1,NaN,0,https://www.reddit.com/r/uspolitics/comments/f...
4,fs4oz5,1585621824,publicintegrity.org,https://publicintegrity.org/health/coronavirus...,A massive government fund sits idle and bloate...,1,NaN,0,https://www.reddit.com/r/uspolitics/comments/f...

In [1323]:
data1['domain'] = 'http://www.'+ data1['domain'].astype(str)

In [1324]:
data2 = data1['domain']

In [1325]:
data3 = pd.read_csv("slant (1).csv")

In [1326]:
data3.head()

   Unnamed: 0  Twitter handle                            URL  Count
0           1             ABC         http://www.abcnews.com      0
1           2  AboveTopSecret  http://www.abovetopsecret.com      0
2           3    abscbndotcom         http://www.abs-cbn.com      0
3           4            ACLJ            http://www.aclj.org      0
4           5            ACLU            http://www.aclu.org      0

In [1327]:
merge =pd.merge(data3,data2,how='left',left_on='URL',right_on='domain')

In [1328]:
def compare_2(df):
    if df['URL']==df['domain']:
        return 1
    else :
        return 0

In [1329]:
merge['count'] =merge.apply(compare_2,axis=1)

In [1330]:
pd = merge[merge['count']==1]
pd

,Unnamed: 0,Twitter handle,URL,Count,domain,count
4,5,ACLU,http://www.aclu.org,0,http://www.aclu.org,1
5,5,ACLU,http://www.aclu.org,0,http://www.aclu.org,1
6,5,ACLU,http://www.aclu.org,0,http://www.aclu.org,1
7,5,ACLU,http://www.aclu.org,0,http://www.aclu.org,1
8,5,ACLU,http://www.aclu.org,0,http://www.aclu.org,1
...,...,...,...,...,...,...
924,175,dcexaminer,http://www.washingtonexaminer.com,0,http://www.washingtonexaminer.com,1
925,175,dcexaminer,http://www.washingtonexaminer.com,0,http://www.washingtonexaminer.com,1
927,177,WashTimes,http://www.washingtontimes.com,0,http://www.washingtontimes.com,1
928,177,WashTimes,http://www.washingtontimes.com,0,http://www.washingtontimes.com,1
934,183,worldnetdaily,http://www.wnd.com,0,http://www.wnd.com,1

In [1331]:
df = merge.groupby([merge['Twitter handle'], merge['URL']]).sum().astype(int).reset_index()

In [1332]:
df

      Twitter handle                            URL  Unnamed: 0  Count  count
0                ABC         http://www.abcnews.com           1      0      0
1               ACLJ            http://www.aclj.org           4      0      0
2               ACLU            http://www.aclu.org          25      0      5
3          AJEnglish           http://aljazeera.com           6      0      0
4                AOL             http://www.aol.com          11      0      0
..               ...                            ...         ...    ...    ...
181   weeklystandard  http://www.weeklystandard.com         179      0      0
182        wikileaks           http://wikileaks.org         181      0      0
183    worldnetdaily             http://www.wnd.com         183      0      1
184  worldnewsdotcom                 http://wn.com/         182      0      0
185         zittrain              http://www.jz.org          86      0      0

[186 rows x 5 columns]

In [1333]:
df['Count'] = df['Count'].fillna(0)

In [1334]:
df.to_csv("C:/Users/DHRUVEETH'S/Desktop/reddit4/News/ana/ruspolitics_2020_Jan-Mar_count.csv", sep=',',
header=True,columns=['Twitter handle','URL','count'])